/* --------------------  MAIN INFO -----------------*/

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    display: flex;
}

.detail-leaf{
    position: absolute;
    transform: translate(235px, 20px);
    width: 6%;
}

.logo-leaf{
    position: absolute;
    transform: translate(222px, -50px);
    width: 4%;
}   

/* --------------------  RIGHT SCREEN - FROM -----------------*/

.right-screen{
    background: var(--color-neutral);
    padding: 45px 80px;
    
}

.header-right{
    color: var(--color-dark-green);
    margin: 0 0 20% 0;
}

.form-input{
    all: unset;
    background: var(--color-bg);
    border: 1px solid var(--color-bg);
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    color: var(--color-dark-green);
    font-size: 15px;
    padding: 5px 12px;
    line-height: 20px;
    position: relative;
}

.form-input:focus-visible{
    border-color: var(--color-light-green);
}

.form-input:-webkit-autofill{
    box-shadow: inset 0 0 0 32px var(--color-bg) !important;
    -webkit-text-fill-color: var(--color-dark-green);
}

.input-field{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-field label{
    color: var(--color-neutral-30);
    font-weight: 700;
}

.btn-sub{
    background: var(--color-dark-green);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--color-neutral);
    display: flex;
    font-size: 15px;
    font-weight: 700;
    margin: 15% 0 0 25%;
    padding: 8px 10px;
    transition: 1.5 ease;
}

.btn-sub:hover{
    transition: 1.5s;
    transform: translateY(-8px);
}

#showPass{
    color: var(--color-neutral-10);
    font-size: .8rem;
    position: fixed;
    transform: translate(195px, -36px);
}

.error-validation{
    color: var(--color-error);
    font-size: 12px;
}

.accept-validation{
    background: var(--color-dark-green);
    border-radius: 5px;
    color: var(--color-neutral);
    font-size: 15px;
    font-weight: 500;
    margin: 15% 0 0 0;
    padding: 8px 10px;
}

/* --------------------  LEFT SCREEN - WELCOME ANIMATION -----------------*/

.left-screen{
    background-color: var(--color-dark-green);
    background-image: url(../../assets/img/background-green.png);
    padding: 45px 80px;
}

.header{
    margin: 35% 0 0 0;
    text-align: center; 
}

.logo-header{
    margin: 3% 0 0 0;
    text-align: center;    
}

.text{
    color: var(--color-neutral);
    font-size: 24px;
    font-weight: 700;
}

.text-header{
    color: var(--color-green);
    font-size: 24px;
    font-weight: 700;
}

.subtitle{
    color: var(--color-light-green);
    margin: 5% 0 0 0;
    text-align: center;
}


